header {
    background-color: #262626;
    color: white;
    position: fixed;
    width: 100%;
    height: 40px;
}

.logo {
    position: absolute;
    left: 50%;

}

.account {
    position: absolute;
    right: 0%;
}